.image {
    width: 100%;
    height: 78.5vh;
    border-radius: 6px;
}

.section-cards {
    z-index: 3;
    position: relative;
}

.section-gray {
    background: #E5E5E5;
    padding: 60px 0 30px 0;
}

.title {
    font-size: 3.5rem;
    font-weight: 800;
    padding: 0;
}

.kategori button {
    margin-bottom: 25px;
}

.kategori {
    list-style: none;
    padding: 0;
}

.kategori li {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 10px;
}

.harga p:nth-child(2) {
    font-size: 10px;
    font-weight: 700;
}

@media (min-width: 768px) {
    /* Styles for medium-sized screens and larger */
    .image {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 2.5rem;
    }

    .kategori li {
        font-size: 1.6rem;
    }

    .harga {
        font-size: 1.2rem;
    }

    .harga p:nth-child(2) {
        font-size: 1.5rem;
        color: tomato;
    }
    .kategori button {
        margin-bottom: 25px;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    /* Styles for small screens */
    .image {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 2rem;
    }

    .kategori li {
        font-size: 1.2rem;
    }

    .harga {
        font-size: 1rem;
    }

    .harga p:nth-child(2) {
        font-size: 2rem;
        color: tomato;
    }
}
.small-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.kontent {
    max-width: 700px;
    margin: 0;
}

/* CSS untuk Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 300px;
    text-align: center;
}



.custom-btn {
    background-color: #f15d30; /* Default button color */
    color: #fff; /* Default text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-btn:hover {
    background-color: white;
    color: #f15d30; /* Change the color to your desired hover color */
    border: #f15d30 1px solid;
}

/* Animasi untuk Pop-up */
.popup.scale-in {
    animation: scale-in 0.3s ease-in-out;
}

@keyframes scale-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  
  .rating input {
    display: none;
}
  .rating > label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input:checked ~ label {
    color: #ffcc00;
  }

.wrapped-description {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    background-color:#F2F1EB;
    max-height: 200px; /* Set the maximum height you want for the description */
    overflow: auto;
    text-overflow: ellipsis;
    color: black;
 }

.wrapped-description p {
        margin: 0; /* Remove default margin to prevent spacing issues */
 }

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F2F1EB; /* Ganti warna latar belakang sesuai keinginan Anda */
    padding: 20px;
}

.map-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #3498db; /* Ganti warna sesuai keinginan Anda */
}

.map-info {
    p {
        margin: 0;
    }
}
.price-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    word-wrap: break-word;
}

.price-container p {
    margin: 0;
}


/* Gaya CSS untuk Bintang Rating */
.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ffd700;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #ffcc00;
}
/* design.css */

.btn-pink {
    background-color: pink !important; /* Use !important to override existing styles */
    color: #dc3545 !important; /* Set text color to white or your preferred color */
    border: none !important; /* Remove border if necessary */
}

.btn-pink:hover {
    color: white !important;
    background-color: #dc3545 !important; /* Change hover background color if desired */
}
