body {
    margin: 0;
    padding: 0;
    height: auto;

}
.chekin-checkout{
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    z-index: 1;
}
.data-diri{
    position: relative;
    width: 50%;
    z-index: 1;
}
.detail-pemesanan{
    top: 0;
    margin-top: 15%;
    z-index: 2;
    position:absolute;
    margin-left: 40%;
    width: 15%;
    height: 45%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
hr{
    width: 55%;    
    background-color: black;
}
h1{
    font-weight: bold;
}
.vasilitas table{
    width: 50%;
    font-size: 15px;
}
.detail-pemesanan{

}
